{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medicine Smart Box</title>
    <link rel="stylesheet" href="{% static 'home_page.css' %}">
</head>
<body>
    <header style="grid-area: top_home_page">
        <div>
            <div class = "logo-msb">
                <img src="/cloud_app/images/logo_mse.png">
            </div>
        </div>
    </header>



    {% include 'navbar.html' %}

    {% block content %}
        This is the base default, replace me!
    {% endblock %}
</body>
</html>
