{% load static %}
<div class="foot_container">
    <div class="footer_col_1">
        <div class="social_rs">
            <ul>
                <li>Follow us!</li>
                <li><a href="https://www.instagram.com" target="_blank">
                    <img src="{% static 'images/instagram.png' %}" width=50px></a>
                    <a href="https://twitter.com" target="_blank">
                        <img src="{% static 'images/twitter.png' %}" width=50px></a>
                </li>
            </ul>
        </div>
    </div>
</div>