<!-- templates/registration/login.html -->
{% if message %}
    <script>
        alert('{{ message }}');
    </script>
{% endif %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Medicine Smart Box</title>
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'top_page.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'footer.css' %}">
</head>
<body>
<header style="grid-area: top_container">
    {% include 'top_page.html' %}
</header>
<section id="login_title" style="grid-area: login_title">
    <h1>Log in</h1>
</section>
<section style="grid-area: form_login">
    <div class="box_login">
        <form id="formulario" action="/post_sign_in/" method="post">
            {% csrf_token %}
            <div>
                <input type="email" id="email" placeholder="Enter your Mail" name="email">
            </div>
            <div id="password_camp">
                <input type="password" id="pass" placeholder="Password" name="pass">
            </div>
            <button type="submit" class="btn btn-primary">Log in</button>
            <br><br>
            <button type="button" onclick="location.href='{% url 'patient_signup' %} '" class="btn btn-primary">
                Sign up Patient
            </button>
        </form>
    </div>
</section>
<footer id="foot" style="grid-area: footer_user">
    {% include 'footer.html' %}
</footer>
</body>