{% load static %}


<!------------------------------------------ Menu Superior Sessió No Iniciada ----------------------------------------->

<!-- Aqui falta posar el condicional per seleccionar quin top de pagina volem -->
<div id="top-container">
    <div class="logo-msb">
        <img src="{% static 'images/logo_msb.png' %}">
    </div>
    <div class="menu-items">
        <nav>
            <ul>
                <li>
                    <a href="user_patient">Home</a>
                </li>
                <li>
                    <a href="/login">Log in</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
