{% load static %}
<!-------------------------------------------- Menu Superior Sessió Iniciada ------------------------------------------>
<div id="top-container">
    <div class="logo-msb">
        <img src="{% static 'images/logo_msb.png' %}">
    </div>
    <div class="menu-items">
        <nav>
            <ul>
                <li>
                    <a href="/home_page">Home</a>
                </li>
                <li>
                    <a>{{ name }}</a>
                </li>
                <li>
                    <img src="{% static 'images/user_standard_image.png' %}" width=40px>
                </li>
            </ul>
        </nav>
    </div>
</div>