/*-------------------------------------------------General Structure--------------------------------------------------*/
body {
    margin: 0;
    background: #5b80b1;
}

#layout {
    display: grid;
    grid-template-areas:
            'top_container'
            'login_title'
            'form_login';
}

#layout section, footer {
    column-gap: 5px;
    row-gap: 5px;
    text-align: center;
    vertical-align: middle;
    border-width: 5px;
    border-color: #1b1b1b;
}

/*-----------------------------------------------------Titulo Log In--------------------------------------------------*/
#login_title {
    text-align: center;
    font-size: 40px;
}

/*----------------------------------------------------Box Formulario--------------------------------------------------*/
.box_login {
    justify-content: center;
    height: 300px;
    width: 30%;
    border: 3px solid black;
    padding: 50px;
    margin: auto auto 200px;
    background: cadetblue;
}

#formulario {
    text-align: center;
}

#password_camp {
    padding: 20px;
}

/*---------------------------------------------------------Input------------------------------------------------------*/

input[type=email], input[type=password] {
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid;
    box-sizing: border-box;
}

/*---------------------------------------------------------Buttons----------------------------------------------------*/

button {
    background-color: #6f94c6;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid black;
    font-weight: bold;
    cursor: pointer;
    width: 150px;
}